<div>
    <p>Hello <b>@User.Identity.Name</b>,</p>
    <p>
        Your account has been frozen and cannot proceed the request. Please contact our customer support team for further assistance.
    </p>
    <p>Thank you.</p>
    <a href="#" class="support"></a>
</div>