<div class="quicklinks">
  <h2 data-i18n="profile.quickLink">quick links</h2>
  <div class="clearfix">
    <a href="@Url.Action("LiveDealer", "Home")" data-i18n="profile.playLiveDealer" class="grey-link pull-left live-dealer">play live dealer</a>
    <a href="@Url.Action("Casino","Home")" data-i18n="profile.playCasino" class="grey-link pull-left casino">play casino</a>
    <a href="@Url.Action("OnlineDeposit","Home")" data-i18n="profile.makeDeposit" class="grey-link pull-left make-deposit">make a deposit</a>
  </div>
</div>