<div class="quicklinks">
  <h2 data-i18n="profile.quickLink">quick links</h2>
  <div class="clearfix">
    <a href="@Url.Action("ClaimBonus","Home")" data-i18n="profile.claimBonus" class="grey-link pull-left addabonus">claim bonus</a>
    <a href="@Url.Action("OnlineDeposit","Home")" data-i18n="profile.makeDeposit" class="grey-link pull-left make-deposit">make a deposit</a>
    <a href="@Url.Action("TransactionHistory")" data-i18n="profile.viewTransactionHistory" class="grey-link pull-left view-transaction">view transaction history</a>
  </div>
</div>