@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "About us - Rego";
}

<section class="main-content section about-section">
    <div class="container">
        <h2 class="title-page"><span>about us</span></h2>
        <p>
          Sun Game is officially registered online gaming companies. Since its establishment, we not only provide all kinds of sports betting and the diversification of online entertainment, and more commitment with the best betting method, supplemented by the most advanced network technology support, offer the best customer service and the most favorable payment scheme. We are committed to providing our customers with a variety of gaming activities, and strongly fee arrangements with the best quality and rich reward in return.<br><br>Sun Game owns and operates the following website: <a href="http://www.sss988.com" target="_blank">www.sss988.com</a> . All products and services offered by the site chosen by the Government of the Philippines Cagayan Special Economic Zone River First Cagayan Leisure and Resort Corporation ( <a href="http://www.firstcagayan.com" target="_blank">www.firstcagayan.com</a> ) are authorized and regulated. The company's philosophy is to provide the best customer through sports betting and diversified online entertainment, to further expand our business.
        </p>
        <h2>honesty</h2>
        <p>As an international professional online gaming clients operating companies, by virtue of our collection of world-class betting information experts, experienced service team, marketing experts, advanced hardware and software developers to create the Sun Game comprehensive and well organized system. We are committed to provide the most timely, most secure, most accurate professional gaming data, as well as a full range of international services for every customer. Meanwhile, Sun Game All games are designed using the world's leading software. We also hired a number of senior computer specialists designed to provide hardware and software maintenance of facilities and services to provide the best technical support to ensure that customers can enjoy all the time the best entertainment services.</p>
        <h2>commitment to quality service</h2>
        <p>Since its inception, Sun Game is committed to providing a wide range of sports betting and online entertainment, 24 hours so that customers can experience the most exciting day of leisure and enjoyment, more so as the rich reward, to repay customers for our support and enthusiastic participation.<br><br>We abide by the "customer first" purpose, to seek innovation, the spirit of continuous improvement, to develop a wide range of entertainment. To do this, we employ a large service team, by virtue of the tireless efforts of outstanding personnel marketing, software development, customer service, technical support, provide customers with professional entertainment services. We are committed to being in the Sun Game game client platform, whether to participate in the sports, entertainment, or other online games, but also to enjoy valuable betting returns. At the same time, to preserve the confidentiality of our customers' personal information is the most important. We promise that we will continue to spare no effort to strictly enforce the confidentiality of the private system.</p>
        <h2>Maintaining strict confidentiality and security</h2>
        <p>According to regulations, each user can have only one Sun Game corresponding account. To maintain the integrity and fairness of the principles of the system, we will conduct security checks from time to time. Customer safety and fairness of the game is the most important service Sun Game belief and purpose. We use the world's most advanced gaming software equipment to ensure the impartiality of the software itself. Meanwhile, the company also spend the most advanced encryption measures to ensure the safety of the game, and for 24 hours in the background to detect and monitor to ensure that our customers can enjoy their stay in one of the most secret, most secure online gaming space.</p>
        <h2>Fair game</h2>
        <p>Sun Game is committed to provide players with the most fair environment, on a combination of sports betting and entertainment platform webcast enjoy the game. Sun Game online entertainment platform in Asia is now the most authoritative and most advanced technology systems available. In addition, all participate in live dealer games have to undergo a rigorous training and selection, each innings Board directors are responsible for monitoring, to ensure realism of the game.</p>
        <h2>payment</h2>
        <p>We offer a variety of safe and easy way to give the customer deposits and withdrawals. We have been insisting understand our customers (KYC) and Anti-Money Laundering (AML) principles and to cooperate with third-party financial management authorities, to ensure to the maximum extent of compliance with relevant laws and regulations. Sun Game want all customers to a safe and pleasant environment, enjoy the company of well-designed products and services, and be able to make a profit. We welcome any comments of our customers. If necessary, please send the relevant comments via e-mail to e-mail: <a href="mailto:cs@sss988.com">cs@sss988.com</a></p>
        <h2>Responsible Gaming</h2>
        <p>Sun Game commitment to provide "Responsible Gaming", and ensure that every customer can enjoy together with our gaming fun. But we also learned that a small part of it sometimes may not be able to control their betting behavior, such as the case-related issues, Sun Game will actively encourage these users to keep in touch with us to try to provide help.</p>

    </div>
</section>
