@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Contact - Rego";
}

<section class="main-content section contact-section">
    <div class="container">
        <h2 class="title-page"><span data-i18n="contact.title"></span></h2>
        <div class="row">

            <div class="col-md-6 col-xs-6 align-right">
                <img src="/Content/images/contact-girls.png"/>
            </div>

            <div class="col-md-6 col-xs-6">
                
                <div class="infos">
                    <div class="icon"><img src="/Content/images/icon-hotline.png"></div>
                    <div class="value">
                        <h4 data-i18n="contact.hotline"></h4>
                        <p>The Philippines: <a href="tel:+63-123-456-789">+63 123 456 789</a></p>
                    </div>
                </div>

                <div class="infos">
                    <div class="icon"><img src="/Content/images/icon-mail.png"></div>
                    <div class="value">
                        <h4 data-i18n="contact.email"></h4>
                        <p>
                            <a href="mailto:contact@sunbet.com">contact@sunbet.com</a>
                        </p>
                    </div>
                </div>

                <div class="infos">
                    <div class="icon"><img src="/Content/images/icon-livechat.png"></div>
                    <div class="value">
                        <h4 data-i18n="contact.liveChat"></h4>    
                        <p><a href="#" target="_blank">7 x 24 Online CS</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
