@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Disclaimer - Rego";
}

<section class="main-content section disclaimer-section">
    <div class="container">
        <h2 class="title-page"><span>Disclaimer</span></h2>
        <p>
          Sun Game information content of the site and a third party in the website for the accuracy or the content of the like, and will not bear any legal responsibility on.<br><br>Sun Game will endeavor to ensure the accuracy, completeness and timeliness website information (all to publication date), but the company does not guarantee the content of the accuracy, completeness, timeliness, network technology and typesetting effect of up to hundred percent accurate.<br><br>In addition, the date and time of its release some information within the site is relevant. Therefore, after a certain date, relevant information may no longer be true and accurate, the Company does not promise that the project will be updated, and you also have a responsibility before the adoption of such information be checked to verify its authenticity. The Company reserves the right without prior notice to modify or update the site content information retained. At the same time, based on certain product or service is subject to regulatory and other constraints limit, so the projects is not suitable for all markets.
        </p>
    </div>
</section>
