@using AFT.RegoV2.MemberApi.Interface.Player
@model RegistrationFormDataResponse
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="container">
        <div class="page-header">
            <h2 class="title-page"><span data-i18n="registration.resetPassword"></span></h2>
        </div>
        <div id="forget-step2-wrapper" class="page-wrapper">
            <form id="security-answer-form" autocomplete="off" role="form">
                <div class="forget-reset-password-form">
                    <div class="form-group">
                        <label data-i18n="registration.answerYourSecurityQuestion"></label>
                        <input style="display: none" class="form-control" name="playerId" value="@ViewBag.PlayerId" />

                        <select class="form-control" disabled>
                            <option data-bind="text: question">
                        </select>
                    </div>
                    <div class="form-group" data-bind="css: {'has-error': !answer.isValid()}, validationOptions: {insertMessages: false}">
                        <input type="text" class="form-control" name="answer" data-bind="value: answer" />
                        <p class="msg" data-bind="text: answer.error, visible: !answer.isValid()"></p>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-block" data-bind="click: submitSecurityAnswerCheck" data-i18n="common.next"></button>
                    </div>
                </div>
            </form>
        </div>
        <input style="display: none" name="token" value="@ViewBag.Token"/>
    </div>
</div>

@section scripts
{
    <script src="/Scripts/custom/login.js"></script>
    <script src="/Scripts/custom/formbase.js"></script>
    <script src="/Scripts/custom/forgetPasswordStep2.js"></script>
}