@using AFT.RegoV2.MemberWebsite.Common

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="forget-step1-wrapper" class="main-content">
    <div class="container">
        <h2 class="title-page"><span data-i18n="footer.forgotPassword"></span></h2>
        <div class="forget-reset-password-form">
            <form id="forgetPasswordFormId" role="form" action="/api/ResetPassword">
                <div class="form-group" data-bind="css: {'has-error': !id.isValid()}, validationOptions: {insertMessages: false}">
                    <label for="forgetPassword" data-i18n="resetPassword.pleaseTypeYourUsernameOrEmail"></label>
                    <input name="id" data-bind="value: id, requiredOnBlur: $element" type="text" class="form-control" />
                    <p class="msg" data-bind="text: id.error, visible: !id.isValid()"></p>
                </div>
                <div class="float-right">
                    <button class="btn" data-bind="click: submitForgetPassword" data-i18n="registration.resetPassword"></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/Scripts/custom/formbase.js"></script>
    <script src="/Scripts/custom/forgetPasswordStep1.js"></script>
}