@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="forget-step3-wrapper" class="main-content">
    <div class="container">
        <div class="page-header">
            <h2 class="title-page"><span data-i18n="registration.resetPassword"></span></h2>
        </div>
        <div id="reset-password-wrapper" class="forget-reset-password-form">
            <form id="confirm-reset-password-form" autocomplete="off" role="form" method="POST" action="/api/ConfirmResetPasswordRequest">
                <input type="hidden" name="playerId" value="@ViewBag.PlayerId" />
                <div class="forget-reset-password-form">
                    <div>
                        <div class="form-group">
                            <label data-i18n="common.newPassword"></label>
                            <input autocomplete="off" type="password" name="newPassword" class="form-control" data-bind="value: newPassword" />
                        </div>

                        <div class="form-group" data-bind="css: {'has-error': !confirmPassword.isValid()}, validationOptions: {insertMessages: false}">
                            <label data-i18n="common.confirmPassword"></label>
                            <input autocomplete="off" type="password" name="confirmPassword" class="form-control" data-bind="value: confirmPassword" />
                            <p class="msg" data-bind="text: confirmPassword.error, visible: !confirmPassword.isValid()"></p>
                        </div>

                        <div class="float-right">
                            <button type="submit" data-bind="click: submitResetPassword" class="btn btn-block" data-i18n="common.save"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    <script src="/Scripts/custom/login.js"></script>
    <script src="/Scripts/custom/formbase.js"></script>
    <script src="/Scripts/custom/forgetPasswordStep3.js"></script>
}