@{
    Layout = "~/Views/Shared/_PopupWinLayout.cshtml";
    ViewBag.Title = "Online Deposit Completed";
}

<div class="container ky-icon-tabs-content" style="margin-top: 0;">
    <div id="online-deposit-result-wrapper" class="page-wrapper">
        <div class="row">
            <div class="col-xs-12" align="center">
                <h3>
                    <span data-i18n="balanceInformation.olineDepositSuccess"></span></h3>
                    <br /><br />           
                <button type="button" class="btn btn-lg btn-primary" onclick="window.close()">Close</button>
            </div>
        </div>
    </div>
</div>