@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Privacy - Rego";
}

<section class="main-content section">
    <div class="container">
        <h2 class="title-page"><span>Privacy</span></h2>
            
        <p>
          For the preservation of customer information aspect, Sun Game has always adopted the most cautious and work program for processing. The following policy statement of responsibility and commitment to our customers in the shoulder. In addition, also clearly shows the way we handle customer data.<br><br>When you use <a href="http://site988.com" target="_blank">http://site988.com</a>, you acknowledge and accept the rules and conditions of Sun Game privacy policy and understand the purpose and manner of processing of the data collected.
        </p>

        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#data-collection" class="accordion-toggle"> 
                <h3>1. data collection and use</h3>
              </div>
            </div>
            <div id="data-collection" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">1.1</p>
                <p class="text">When customers open an account and use in Sun Game, we collect relevant information, such as name, address, age, e-mail, phone, IP location, and head to collect such information as:</p>
                <ul class="list">
                  <li>Reserved account transaction records</li>
                  <li>Help improve account management</li>
                  <li>For safety reasons (including the customer's identity)</li>
                  <li>Build customer profiles</li>
                  <li>Manage customer relationships and achieve marketing purposes</li>
                </ul>
                <p class="number">1.2</p>
                <p class="text">Trading conditions Account</p>
                <ul class="list">
                  <li>To identify the customer's interest to provide relevant offers and information, or transactions with business operations and other security grounds, we will retain the customer transactions for analysis.</li>
                </ul>
                <p class="number">1.3</p>
                <p class="text">Information transfer deals</p>
                <ul class="list">
                  <li>After opening an account, the customer will automatically receive occasional preferential information issued by Sun Game.</li>
                </ul>
                <p class="number">1.4</p>
                <p class="text">Changing your personal data</p>
                <ul class="list">
                  <li>Customers can change personal information at any time. If necessary, to contact our customer service.</li>
                </ul>
                <p class="number">1.5</p>
                <p class="text">Security and accuracy of personal data</p>
                <ul class="list">
                  <li>We are committed to properly save all the information of customers, and maintain the accuracy of the relevant information. Under the law, the customer is entitled to retain personal data and require changes to any mistakes.</li>
                  <li>At the same time, we will take all steps to ensure that the customer data in the process, can be up to the most stringent safety standards. In addition, the bottom of the customer data only in applicable law have the opportunity to be disclosed, and the information is disclosed to the Sun Game and other major departments, business partners, consultants and suppliers (such as credit card processing institutions).</li>
                  <li>We promise not to sell customer information to third parties.</li>
                </ul>
                <p class="number">1.6</p>
                <p class="text">Small text file (Cookies)</p>
                <ul class="list">
                  <li>When customers browse <a href="www.sss988.com" target="_blank">www.sss988.com</a> first time, a small text file called Cookies information will be sent to your browser in order to analyze them. And later, when the customer re-visit this site, a small text file has a special identification code to identify the relevant user's computer. This helps us based on customer preferences and interests, to help provide better Internet service.</li>
                  <li>Even if the customer's browser choose not to accept a small text file, but can smoothly visit our website, the difference is that we can not provide a better Internet service.</li>
                </ul>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#site-information" class="accordion-toggle"> 
                <h3>2. Site Information</h3>
              </div>
            </div>
            <div id="site-information" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Our system will automatically record the Sun Game surfers network IP addresses, but we will not record your visitors email address, but this is mainly used for site traffic statistics purposes.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#advertising-system" class="accordion-toggle"> 
                <h3>3. Advertising system</h3>
              </div>
            </div>
            <div id="advertising-system" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Our advertising system will automatically record Clicker web IP address, this is mainly to make the site its functions effectively.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#winnings" class="accordion-toggle"> 
                <h3>4. Winnings</h3>
              </div>
            </div>
            <div id="winnings" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">We will strictly confidential jackpot amount won customers. According to local laws, such as requiring customers must want to declare a local government agency to win the prize money amount that, then the declaration of interests is left to the customer to make a decision.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#security" class="accordion-toggle"> 
                <h3>5. Security</h3>
              </div>
            </div>
            <div id="security" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Sun Game to ensure that customers provide to our personal information and confidential data is absolutely safe. All relevant content delivered to us, are bound to secrecy after the high-tech facilities, then stored into our servers. The secret facility, is to use the most advanced firewall technology to maintain. Our entertainment sites and software but will use the best security procedures designed to ensure that the player's personal information will not be a third-party abuse.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <p>As customers of our privacy policy and security have any questions, please feel free to consult or a letter Sun Game 24-hour online service to contact us.</p>

    </div>
</section>
