@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Common Problem - Rego";
}

<section class="main-content section disclaimer-section">
    <div class="container">
        <h2 class="title-page"><span>Common Problem</span></h2>
        
        <h4>Account Related</h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem11" class="accordion-toggle"> 
                <h3>1. How to register game account?</h3>
              </div>
            </div>
            <div id="common-problem11" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">1.1</p>
                <p class="text">Please click Home at the top right of "Join Now."</p>
                <div class="clear"></div>
                <p class="number">1.2</p>
                <p class="text">After entering the registration page, fill in all with "*" content, then enter the verification code click on the "Create Account" button.</p>
                <div class="clear"></div>
                <p class="number">1.3</p>
                <p class="text">Referrals: If you have references, please fill out the introducer of code; if there is no referee, no need to fill this.</p>
                <div class="clear"></div>
                <p class="number">1.4</p>
                <p class="text">If you can not register successfully, the system will display an error message, and then follow the prompts to change incorrect registration information, re-fill verification code, click "Create Account" button.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem12" class="accordion-toggle"> 
                <h3>2. What issues need attention registered account?</h3>
              </div>
            </div>
            <div id="common-problem12" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">2.1</p>
                <p class="text">In order to regulate gaming site account management, each member is only allowed to register a game account, please fill out the real name, withdrawals and the registered name consistent need to bind bank card operations.</p>
                <div class="clear"></div>
                <p class="number">2.2</p>
                <p class="text">The same user name, e-mail and telephone only register a game account, if the information is already in use, it will not be used to register a new account again.</p>
                <div class="clear"></div>
                <p class="number">2.3</p>
                <p class="text">Register Password: To protect your account security, password is not the same as the user name.</p>
                <div class="clear"></div>
                <p class="number">2.4</p>
                <p class="text">Register E-mail: Due to the problem NetEase mailbox settings, you may not receive the letter system, it is recommended that you use (qq.com, hotmail.com) email account registered the game is not recommended that you use NetEase mailbox (126.com, 163.com, yeah .net).</p>
                <div class="clear"></div>
                <p class="number">2.5</p>
                <p class="text">Registered Phones: In order to facilitate future contact, please fill out my real valid contact telephone number, please fill in the registration page direct phone number without the need of plus digital 0086.</p>
                <div class="clear"></div>
                <p class="number">2.6</p>
                <p class="text">Registered address: In order to facilitate future operation of deposit withdrawals, please fill out the complete address information (provincial, district / county, street information, street number) when you register.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem13" class="accordion-toggle"> 
                <h3>3. Forget the password, how to get a new password?</h3>
              </div>
            </div>
            <div id="common-problem13" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please click on the top right of the Home "Forgot Password", enter the page, follow the prompts to enter the login name and password select the desired receiving mode to "get the message" or "mailbox access", the new password will be automatically sent to your phone or the registered mail, please pay attention to check.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem14" class="accordion-toggle"> 
                <h3>4 How to change your password?</h3>
              </div>
            </div>
            <div id="common-problem14" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please log in the game account, click the top right of "Account" to enter, click on the left of the page "Change Password" to be modified.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem15" class="accordion-toggle"> 
                <h3>5. Log in the game account, you need to pay attention to what the problem?</h3>
              </div>
            </div>
            <div id="common-problem15" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">5.1</p>
                <p class="text">When the login account passwords are case-sensitive.</p>
                <div class="clear"></div>
                <p class="number">5.2</p>
                <p class="text">Do not leave a space before and after you enter a user name and password.</p>
                <div class="clear"></div>
                <p class="number">5.3</p>
                <p class="text">Enter the code correctly.</p>
                <div class="clear"></div>
                <p class="number">5.4</p>
                <p class="text">If you enter more than five times the wrong password, the system to protect the security of your information, it will automatically lock your account, if you want to re-open the account, please contact the online customer service, you can apply to unlock after verification information.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem16" class="accordion-toggle"> 
                <h3>6. How do I change account information?</h3>
              </div>
            </div>
            <div id="common-problem16" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">If you need to change your account information, please click on the "online service" for specific steps, thank you for your cooperation.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem17" class="accordion-toggle"> 
                <h3>7. If you register multiple accounts, how to do?</h3>
              </div>
            </div>
            <div id="common-problem17" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Site requires that each player can have only one active gaming account, if you register multiple accounts, use the registered mail to send e-mail to apply for cancellation of extra id@sss988.com account. If the audit department found that you register multiple accounts, temporarily lock your account and e-mail notification to you, please e-mail notification in accordance with the contents of the reply to apply to retain a closed account to other accounts!</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4>Related deposit withdrawals</h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem21" class="accordion-toggle"> 
                <h3>1. Deposit withdrawals support what currency?</h3>
              </div>
            </div>
            <div id="common-problem21" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">The current site only supports the RMB deposit withdrawals, deposit withdrawals in order to facilitate the future, it is recommended that you open engineering, construction, ABC debit card online banking account recharge.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem22" class="accordion-toggle"> 
                <h3>2. How to deposit?</h3>
              </div>
            </div>
            <div id="common-problem22" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">2.1</p>
                <p class="text">Website offers prepaid online recharge two deposit method and line:</p>
                <ul class="list">
                  <li>Online Recharge: need to use online banking operation, deposit Prompt arrival, convenient, follow these steps:</li>
                  <li>Click Home "deposit"> "online recharge 1."</li>
                  <li>Fill in the amount, and click OK, select the bank.</li>
                  <li>After entering the system automatically links to your online banking operations, fill in the relevant information, the payment was successful.</li>
                  <li>Wait a moment click on "Account" to view the balance.</li>
                </ul>
                <p class="number">2.2</p>
                <p class="text">Recharge the line: the line deposits Merchants Bank ICBC account or savings accounts (randomly assigned by the system), follow these steps:</p>
                <ul class="list">
                  <li>Click Home "deposit."</li>
                  <li>Click the "top application", select the name of the bank, fill in the amount, choose to receive SMS or email, click "OK."</li>
                  <li>After receiving the deposit accounts system to send, you can you can use online banking, ATM machines, counter, phone banking, Paypal make a deposit.</li>
                  <li>The deposit is completed, properly keep a good back orders, in order to shoot upload.</li>
                  <li>Deposit page number when the second deposit back line clicks "Submit proof." In addition to "peer online banking" deposit without uploading back orders, the use of "net silver cross", "ATM machine", "bank counter", "mobile banking", "Alipay" deposit required upload back to a single theme, such as the use of another bank card deposit, the need to provide the account holder's identity card screenshot.</li>
                  <li>Related departments will handle queries within 5 minutes after inquiry receipt of payment.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem23" class="accordion-toggle"> 
                <h3>3. whether to support a credit card deposit?</h3>
              </div>
            </div>
            <div id="common-problem23" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Site does not currently support credit card deposits, because the use of a credit card deposit off single and prone to delay arrival of the situation, it is recommended that you use a debit card deposit general!</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem24" class="accordion-toggle"> 
                <h3>4. How to bind ATM bank card?</h3>
              </div>
            </div>
            <div id="common-problem24" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">4.1</p>
                <p class="text">You can follow these steps that we provide operations, bank card binding information:</p>
                <ul class="list">
                  <li>Click on the "Withdrawal"</li>
                  <li>Click on the "Withdrawal application"</li>
                  <li>Click on the "Click here to bind bank information" to see the message and click "ok"</li>
                  <li>Click to select the name of the bank, fill in the open user name, bank account number, branch and other information</li>
                  <li>Click "Change Information" Submit, see the message click "ok", the audit department will review as soon as your binding.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem25" class="accordion-toggle"> 
                <h3>5. Withdrawal support what bank?</h3>
              </div>
            </div>
            <div id="common-problem25" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Our site supports withdrawal banks are: Bank of China, Industrial and Commercial Bank of China, China Construction Bank, Agricultural Bank of China, China Merchants Bank, China Bank of Communications, China Everbright Bank, Postal Savings Bank, Ping An Bank, Minsheng Bank, Shanghai Pudong Development Bank, Guangdong Development Bank, CITIC Bank, Huaxia Bank, Industrial Bank, Shanghai Bank, Shanghai Rural Commercial Bank, Bank of Beijing.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem26" class="accordion-toggle"> 
                <h3>6. How to withdraw?</h3>
              </div>
            </div>
            <div id="common-problem26" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">6.1</p>
                <p class="text">
                   
                  Withdrawal steps are as follows:<br>Click the Home above "withdrawal", after entering click on the "Withdrawal application"
                </p>
                <div class="clear"></div>
                <p class="number">6.2</p>
                <p class="text">Enter the amount in the withdrawal page</p>
                <div class="clear"></div>
                <p class="number">6.3</p>
                <p class="text">Click OK</p>
                <div class="clear"></div>
                <p class="number">6.4</p>
                <p class="text">We will be the first time receipt of the application for review, please be patient to wait for the money.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem27" class="accordion-toggle"> 
                <h3>7. Withdrawal processing time is how long?</h3>
              </div>
            </div>
            <div id="common-problem27" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">According to the audit program, begin withdrawals from your application, you will normally be remitted within two hours, in case of weekends and holidays, the time will be extended accordingly.<br>If you encounter a product party audit checks on time a slight delay, but please be assured that we will submit to handle urge you to follow up.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem28" class="accordion-toggle"> 
                <h3>8. Are deposit withdrawals to pay fees?</h3>
              </div>
            </div>
            <div id="common-problem28" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Site deposit withdrawals not charge you any fees, fees, charged by the financial sector deposits at banks in line to handle your deposit will be automatically added to the game for your main account.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem29" class="accordion-toggle"> 
                <h3>9. Deposit withdrawal limits?</h3>
              </div>
            </div>
            <div id="common-problem29" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Under Line Deposit Limit: single deposit a minimum of 200 yuan, the highest 200,000.00 yuan, up to a day for the deposit amount: 2,000,000.00 yuan, up to the number of daily deposit: 50.<br>Online Deposit Limits: Minimum single 200 yuan, up 49,999 yuan.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem210" class="accordion-toggle"> 
                <h3>10. Withdrawals What are the requirements?</h3>
              </div>
            </div>
            <div id="common-problem210" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">10.1</p>
                <p class="text">Withdrawal must meet the following requirements:</p>
                <ul class="list">
                  <li>If you do not apply for any bonus offer, meet 1 times the bet can apply withdrawals.</li>
                  <li>If the application is a casino first deposit bonus, you need to be in the entertainment rolling bets principal + bonus 20 times, for example: deposit 200, 100 bonus application shall Betting (200 + 100) * 20 = 6000 yuan (Note: tie, hedging bets not counted)</li>
                  <li>If the application is first deposit bonus sports betting, sports venues will need to scroll betting principal + bonus 10 times, for example: deposit 200, application dividend 60 shall Betting (200 + 60) * 10 = 2600 yuan (Note: Any bets rejected, invalid bets, tie, odds lower than 1.50 (European Edition) and the cashing of bets on the gambling situation or appear bets will not be counted in any accumulated wagering requirements)</li>
                  <li>Withdrawals can be carried out 24 hours a day to apply.</li>
                </ul>
                <p class="number">10.2</p>
                <p class="text">About concessions withdrawal request, you can view our website in the "campaign" for details of each introduction of promotions.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4>Related Promotions</h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem31" class="accordion-toggle"> 
                <h3>1. What is the first deposit and rakeback deals?</h3>
              </div>
            </div>
            <div id="common-problem31" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">1.1</p>
                <p class="text">Site Promotion casino 50% first deposit offer, the offer applies to Mercury Hall, Mars and Jupiter Hall Museum, each member can apply once accordance with regulations. Simply enter the bonus code when transfers can enjoy a 50% first deposit bonus money, up to $ 588 yuan high dividends.</p>
                <div class="clear"></div>
                <p class="number">1.2</p>
                <p class="text">Sports Betting for the new registered users sent 30% first deposit promotions, simply enter the bonus code when the transfer, you can get the maximum benefit deposit bonus of 288 yuan.</p>
                <div class="clear"></div>
                <p class="number">1.3</p>
                <p class="text">Site will occasionally promote new rakeback offers, weekly return water is generated based on the effective amount of bets in the corresponding game refunding certain percentage.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem32" class="accordion-toggle"> 
                <h3>2. How to apply for the first deposit promotions?</h3>
              </div>
            </div>
            <div id="common-problem32" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">2.1</p>
                <p class="text">Subscribe to our bonus offers, please follow these steps:</p>
                <ul class="list">
                  <li>Click Home transfers - Transfer</li>
                  <li>Opted account, fill in the amount of</li>
                  <li>Fill bonus code, click Execute (contact online customer service get the bonus code)</li>
                  <li>Click Continue transfer, the system automatically added, click the account to view.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem33" class="accordion-toggle"> 
                <h3>3. Deposit and return water wagering requirements?</h3>
              </div>
            </div>
            <div id="common-problem33" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">3.1</p>
                <p class="text">
                   
                  Casino 50% first deposit bonus, we need to meet in their respective venues principal + bonus of 20 times the bet and requirements before they turn out withdrawals.<br>For example :( principal 200+ dividend 100) * 20 = 6,000 (This refers to the cumulative rolling bet, no time limit)
                </p>
                <div class="clear"></div>
                <p class="number">3.2</p>
                <p class="text">
                   
                  Sports Betting 30% first deposit bonus, you need to meet principal + bonus of 10 times the bet and turn out the requirements before proceeding withdrawals in sports betting game.<br>For example :( principal 200+ bonus 60) * 20 = 2,600 (This refers to the cumulative rolling bet, no time limit)
                </p>
                <div class="clear"></div>
                <p class="number">3.3</p>
                <p class="text">All rebate issued bonus site, you need to meet in the stadium belongs to claim 1 bet times before any withdrawal may make transfers.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">      
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem34" class="accordion-toggle"> 
                <h3>4. How to apply for the rebate?</h3>
              </div>
            </div>
            <div id="common-problem34" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Currently rakeback site is settlement week, the member must apply for weekly rakeback within a specified period of time. Please click on the "campaign" to enter, then enter the preferential right of the page, select "Click to apply" will turn to "transfer funds" page, click on the right kind of concessions "preferential application" area need to apply for re-checking application that is can.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem35" class="accordion-toggle"> 
                <h3>5. Rebate settlement time?</h3>
              </div>
            </div>
            <div id="common-problem35" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">5.1</p>
                <p class="text">Sports Betting rakeback settlement time every Tuesday this week rakeback bonus will be reviewed to meet the requirements apply for payment of accounts among members next Tuesday.</p>
                <div class="clear"></div>
                <p class="number">5.2</p>
                <p class="text">Casino games and electronic games rakeback settlement time every Wednesday this week rakeback bonus will be reviewed next Wednesday to meet the requirements apply for payment of accounts among members.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem36" class="accordion-toggle"> 
                <h3>6. How to view rakeback payment amount?</h3>
              </div>
            </div>
            <div id="common-problem36" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please click on the top right of the website "Account" enter the user management center page to view account transactions history and select "rakeback" transfer type in view of the search can be.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4>Mobile Betting</h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem41" class="accordion-toggle"> 
                <h3>1. Mobile betting support what phone system?</h3>
              </div>
            </div>
            <div id="common-problem41" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">You only need our top of the page click "Join Now" to spend a few minutes to fill in the account registration form, you can successfully establish Sun Game personal account. The main data required to complete an account registration form as follows:<br>Username: used to identify the account login identity, must fill in at least six alphanumeric characters, beginning with a letter or an underscore.<br>Password: case sensitive, which must contain at least six characters mixing letters and numbers. Also, leave the password strictly confidential.<br>Email: In order to facilitate contact you, please provide a valid e-mail address in order for you to transfer important management information and product information as soon as possible.<br>During the registration process, you will be asked to accept the terms and conditions Sun Game, and make sure you have at least 18 years to complete this agreement.
                  <div class="clear"></div>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem42" class="accordion-toggle"> 
                <h3>2. What issues need attention registered account?</h3>
              </div>
            </div>
            <div id="common-problem42" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Mobile Betting currently supports Android and IOS phone system.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem43" class="accordion-toggle"> 
                <h3>3. Phone betting offer what game?</h3>
              </div>
            </div>
            <div id="common-problem43" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Betting currently offer sports games, Venus Hall baccarat, dragon game, Mercury Hall Mars Hall, lottery games.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem44" class="accordion-toggle"> 
                <h3>4. How Mobile Betting?</h3>
              </div>
            </div>
            <div id="common-problem44" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Currently you can directly enter the phone log www.goal007.co mobile web version of the game. Meanwhile, Venus Hall Baccarat game also offers mobile client, use the phone directly scan Venus Pavilion Mobile two-dimensional code can be installed.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem45" class="accordion-toggle"> 
                <h3>5. Whether the mobile operating deposit withdrawals?</h3>
              </div>
            </div>
            <div id="common-problem45" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">5.1</p>
                <p class="text">Iphone mobile phone use at the desktop version of the operating wire deposit, you can get bank account information, upload the receipt, deposit submitted information. Temporarily unable to operate online deposits.</p>
                <div class="clear"></div>
                <p class="number">5.2</p>
                <p class="text">Unable to upload using the following Ipad Mobile Desktop Edition operating line deposits, deposit information submitted under the wire deposit receipt, if not required to submit the deposit receipt can successfully submit the deposit information.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4>Games Related</h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem51" class="accordion-toggle"> 
                <h3>1. What game types website?</h3>
              </div>
            </div>
            <div id="common-problem51" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Web site offers a variety of games, including: casinos, electronic games, sports betting, poker, lottery and mini-games.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem52" class="accordion-toggle"> 
                <h3>2. Which website provides gaming platform?</h3>
              </div>
            </div>
            <div id="common-problem52" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Website launched a number of well-known game platforms, such as Venus Hall (exclusive schonborn Sunbet platform), Jupiter Hall (HG platform), Mercury Hall (GD platform), Mars Hall (EA platform), Saturn Museum (BBIN platform), sports betting (Inplay Matrix platform), poker King (Micro Gaming platform)</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem53" class="accordion-toggle"> 
                <h3>3. How to Bet Casino Games?</h3>
              </div>
            </div>
            <div id="common-problem53" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please funds transferred to the appropriate venues, enter the game lobby, then click chips, the chips placed on the need to bet the project, and finally click "OK" button to bet.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem54" class="accordion-toggle"> 
                <h3>4. How to Bet Sports Betting game?</h3>
              </div>
            </div>
            <div id="common-problem54" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please send your money into sports betting game, and then select the betting odds, click on the team name behind the odds bet amount input, click "OK Bet" button</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem55" class="accordion-toggle"> 
                <h3>5. How to Bet electronic games?</h3>
              </div>
            </div>
            <div id="common-problem55" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please send your funds to the appropriate electronic gaming venues, then select redeem proportion, betting lines, betting turnover, and finally click "go" button for the game.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem56" class="accordion-toggle"> 
                <h3>6. How to Bet poker game?</h3>
              </div>
            </div>
            <div id="common-problem56" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">6.1</p>
                <p class="text">Transfer to Poker King game, follow these tips:</p>
                <ul class="list">
                  <li>Cash games and Sit on the end of the game, just double-click to enter the contest tables, tournament name, choose a seat in accordance with the quota buy-page display prompts sell chips into the game.</li>
                  <li>Championship: Double-click the name to enter the race later registered the game.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem57" class="accordion-toggle"> 
                <h3>7. How to view the venue game record?</h3>
              </div>
            </div>
            <div id="common-problem57" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">7.1 </p>
                <p class="text">Venus Pavilion: Please enter Venus Pavilion on the left side of the page and click the "Game History", select the appropriate dates to check past game situations (betting number, date and time, Which game, several numbers innings, bets, betting code and results winning or losing tax), currently only for you to save nearly 30 days of recording.</p>
                <div class="clear"></div>
                <p class="number">7.2 </p>
                <p class="text">Jupiter Hall: Please click on the page at the top right of Jupiter hall lobby "Bet Records"> "Transaction History"> "Transaction Report", set the date click on "Get Report" you can check the game record, plus 8 hours equal GMT. Game ID for the game record number. Betting information reserved for you nearly a month.</p>
                <div class="clear"></div>
                <p class="number">7.3 </p>
                <p class="text">Mars Pavilion: Please enter the game click on the bottom right of the page to view game records record.</p>
                <div class="clear"></div>
                <p class="number">7.4 </p>
                <p class="text">Saturn Museum: Please click on the top right side of Saturn museum hall "WAGER record" into the view, for you to keep the last eight days of betting records, please select the game category, adjust the time queries, please pay attention Saturn game hall records show time for the US Eastern time, 12 hours earlier than Beijing.</p>
                <div class="clear"></div>
                <p class="number">7.5 </p>
                <p class="text">PT videogames: Please enter the page click on the top right of the video game "wrench" icon, and then click on the "Game History" view can be.</p>
                <div class="clear"></div>
                <p class="number">7.6 </p>
                <p class="text">TTG videogames: Please enter the electronic game page, click the top left of the "Main Menu"> "My Account"> "transaction", set the date and click "Submit" to inquire game records can be.</p>
                <div class="clear"></div>
                <p class="number">7.7 </p>
                <p class="text">Sports betting: sports betting you click the top left of the page "Info / Settings" - "Bet Records", to set the time and record type in a bar select "Account History - Race Date" to see one day of betting turnover, settlement amount, lose surplus amount and the total amount of bets that period of time, usually reserved for you betting information nearly two months.</p>
                <div class="clear"></div>
                <p class="number">7.8 </p>
                <p class="text">Poker King: Please log in at the top of the poker hall queen clicking "My Account"> "View my game history"> "Poker Bet recording / casino betting record" to view information related to betting records. Games record time display is GMT plus 8 hours before you want to be equal GMT.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem58" class="accordion-toggle"> 
                <h3>8. Which game offers download version?</h3>
              </div>
            </div>
            <div id="common-problem58" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">The current site Venus hotel offers a computer to download version of the game, Venus Hall Baccarat offer mobile download version of the game, Mars hotel offers PC download version of the game, Poker King offers computer download version of the game, PT provide computer download version of the game.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4>Technology-related </h4>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem61" class="accordion-toggle"> 
                <h3>1. Why can not you open Sun Ga what website?</h3>
              </div>
            </div>
            <div id="common-problem61" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">
                   
                  May be due to the local network is unstable, causing the site Login affected, we recommend that you clear your browser history in the following way: If you are using IE browser: Please click on the top of your browser "Tools" >> Click the last one "internet options ">> delete Cookies delete all records or access to records >> reopen after closing the browser tries to log on.
                  If you are using a Google browser: Click on the upper right of the browser "three horizontal" icon, then click Clear History >> >> browser history after closing the browser reopen try to log on.
                </p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem62" class="accordion-toggle"> 
                <h3>2. Which browser to access the Web site more smoothly?</h3>
              </div>
            </div>
            <div id="common-problem62" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">
                   
                  We recommend that you use IE8.0 or above, Google or Firefox browser to access the Web site more smoothly.
                  360 browser with automatic refresh function and may prevent pop-ups or pop-up procedures, in order to protect the stability that you enter the game, we recommend that you replace the browser to access the site over the game.
                </p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem63" class="accordion-toggle"> 
                <h3>3. How screenshot?</h3>
              </div>
            </div>
            <div id="common-problem63" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">3.1</p>
                <p class="text">Method One: Use the computer comes with system screenshots, follow these steps:</p>
                <ul class="list">
                  <li>When you need to capture the screen display information, the press three keys keyboard top right of the leftmost button, the button labeled "PrtScn".</li>
                  <li>Please click on the bottom left of the computer screen and then "All Programs" - "Accessories" - "Little painter."</li>
                  <li>In the open top of the page select "Edit" - "Paste."</li>
                  <li>Click on the top of the page "File" - "Save As", then there will be a screenshot of your desktop files.</li>
                </ul>
                <p class="number">3.2</p>
                <p class="text">Method 2: Using QQ software screenshots, follow these steps:</p>
                <ul class="list">
                  <li>First, please log on QQ chat software, the keyboard while holding down the ctrl + alt + a, then press and hold the left mouse button, the box back to a single page in the screenshot box, right click to save the screenshot.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem64" class="accordion-toggle"> 
                <h3>4. How to change the default settings QQ mail domain</h3>
              </div>
            </div>
            <div id="common-problem64" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please log in to your QQ mailbox, then click the "Settings", and then click on the "Account" and then change the default sender account to your QQ number, click the Save Settings below.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem65" class="accordion-toggle"> 
                <h3>5. Why QQ mailbox can not receive messages sent to our website?</h3>
              </div>
            </div>
            <div id="common-problem65" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="text alone">Please login above the QQ mailbox page click "Settings" - "Anti", and then click Set whitelist email address in the blank input cs@sss988.com, and finally click the Add to whitelist.</p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div data-toggle="collapse" data-parent="#termsConditions" href="#common-problem66" class="accordion-toggle"> 
                <h3>6. Why after successful download poker software can not be installed properly?</h3>
              </div>
            </div>
            <div id="common-problem66" class="accordion-body collapse">
              <div class="accordion-inner">
                <p class="number">6.1</p>
                <p class="text">You need to download the software before downloading the poker software：</p>
                <ul class="list">
                  <li>If your computer is windows7 system, log on the following URL to download： <a href="http://www.microsoft.com/zh-cn/download/details.aspx?id=21" target="_blank">http://www.microsoft.com/zh-cn/download/details.aspx?id=21</a></li>
                  <li>If your computer is windows XP system, log on the following URL to download： <a href="http://www.microsoft.com/zh-cn/download/details.aspx?id=16614" target="_blank">http://www.microsoft.com/zh-cn/download/details.aspx?id=16614</a></li>
                  <li>After successful download the software, please log on again and install the poker software download site.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>
</section>
