@using AFT.RegoV2.MemberWebsite.Common

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Terms and Conditions - Rego";
}

<section class="main-content section">
    <div class="container">
        <h2 class="title-page"><span>Terms & Conditions</span></h2>
            <div id="termsConditions" class="accordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#defines" class="accordion-toggle"> 
                    <h3>1. define</h3>
                  </div>
                </div>
                <div id="defines" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">1.1</p>
                    <p class="text">The following words and terms for access to, and participation in connection <a href="http://www.sss988.com" target="_blank">http://www.sss988.com</a> Sun Game in online gaming. According to circumstances, Sun Game hereinafter referred to as "we", "us."<br>These terms and conditions must be read in conjunction with the game rules and privacy policy.
                      "Gaming Software" means any allows you to access, connect and participate in online gaming licensing procedures, data files or other content installed in the connected device.<br>"Information" means see below Article 4 of the "information and intellectual property."<br>"Lawful prize" means your use of our service, in accordance with these terms and conditions, to legal means to win the prize, except for the following:<br>1) any commission we should have<br>2) your use of the Service other charges<br>In this statement, if you violate these terms and rules, in any case, you will win a prize are not legal. Therefore, we have the right to declare the prize void and will not be paid according to the service and terms.<br>"Player" refers to all site users use the service and have agreed to these terms and conditions, including your.<br>"Rules" means the different gaming provided products and services on our site rules, we may be modified from time to time.<br>"Service" refers to the gaming products and services we offer through the website.<br>"Software" refers to any and all sites and (or) the composition of the site software, including gaming | software.<br>"Website" means <a href="http://www.sss988.com" target="_blank">http://www.sss988.com</a> and other sites that we use to provide services.<br>"You: Your" refers to you, people use this site.<br>"Your account" means the terms of use and access described 6.2 service must use your name to open the account.
                    </p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#register" class="accordion-toggle"> 
                    <h3>2. register</h3>
                  </div>
                </div>
                <div id="register" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">2.1</p>
                    <p class="text">
                      When you register for the service, you need to, "I declare that I have over 18 years of age" and "I have read and agree to the terms of service and the Sun Game," the box ticked, you acknowledge and agree that:
                      You have read, fully understood and accepted these terms and conditions;
                      These terms and conditions of use of the Service constitutes a legally binding agreement between you and us.
                    </p>
                    <div class="clear"></div>
                    <p class="number">2.2</p>
                    <p class="text">If you do not agree to these terms and conditions, please do not check the "I have read and agree to the terms of service and the Sun Game", and immediately stop using the website. In the absence of consent and acceptance of these terms and conditions, you can not use our services.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#modify" class="accordion-toggle"> 
                    <h3>3. modify</h3>
                  </div>
                </div>
                <div id="modify" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">3.1</p>
                    <p class="text">Sun Game retention revise, update, modify these terms and conditions of absolute power and gaming rules. Any amendment, update or modification will be posted on the website. Amend, modify or update, the terms and conditions and rules after the website with immediate effect. Your continued use of the Site and Services is on your behalf to accept the change, after the announcement of the terms and rules of the update.</p>
                    <div class="clear"></div>
                    <p class="number">3.2</p>
                    <p class="text">You acknowledge and agree that you have a responsibility to review these terms and conditions of any revisions, updates and / or modifications, and reserves the right without notice.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#information-and-intellectual-property" class="accordion-toggle"> 
                    <h3>4. Information and intellectual property</h3>
                  </div>
                </div>
                <div id="information-and-intellectual-property" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">4.1</p>
                    <p class="text">
                       
                      Through our website, services or equipment supplied to you information such as: including without limitation marketing programs and materials, results, statistics, sports data and schedule, odds and betting figures, text, graphics, video and audio content for the Sun Game or our business licensors. The information and the software for your personal use only and not for commercial purposes.
                    </p>
                    <div class="clear"></div>
                    <p class="number">4.2</p>
                    <p class="text">
                       
                      In addition to holding our hard copy or other owner of the agreement, you are not in any way adapt, copy, modify, copy, store, distribute, display, publicly perform, including in a cable program, broadcast, publish, disseminate, sell, rent, lease, license, or software will provide information to anyone else or other sites, online services or bulletin boards, or any other media and / or devices.
                    </p>
                    <div class="clear"></div>
                    <p class="number">4.3</p>
                    <p class="text">
                       
                      on the site or by means of software, services and information are protected by copyrights, trademarks and other intellectual property and proprietary rights protected forms. Software, services and information all right, title and interest in the website of Sun Game or franchisee owned, licensed or controlled. You acknowledge that you do not use or access the Web site or software equipment, services, and information obtained by any of the above rights, title and interests.
                    </p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#terms-of-use" class="accordion-toggle"> 
                    <h3>5. Terms of use</h3>
                  </div>
                </div>
                <div id="terms-of-use" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">5.1</p>
                    <p class="text">as the use of "service" conditions, you warrant and undertake that you are using or accessing this website services, software, or information process does not carry out any illegal activity or violation of these terms and conditions.</p>
                    <div class="clear"></div>
                    <p class="number">5.2</p>
                    <p class="text">In addition to these terms and conditions of all representations and warranties, you also guarantee and commitment to comply with the conditions of use of the service below:</p>
                    <div class="clear"></div>
                    <ul class="list">
                      <li>You represent yourself and all of your actions are performed in your personal identity, rather than on behalf of another person;</li>
                      <li>You were not limited to legal capacity constraints</li>
                      <li>You have not been diagnosed or classified as a compulsive gambler gambling;</li>
                      <li>You have exceeded (1) 18 years; or, (2) can be carried out to determine the legal age of gambling; with higher age prevail.</li>
                      <li>You fully understand the use of this website service process may lose money.</li>
                      <li>Credited to your account the money does not come from crime or other illegal or not in accordance with any applicable to you or the company's legal, you will not use or intend to use your account opened in the company or other authorized criminal activity illegal activities; You shall not allow others to use your account and the company's services in any criminal or other illegal activities, such as: money laundering.</li>
                      <li>You will need your user name, account number and password confidential and to prevent unauthorized access to or use; if your user name, account number or password compromised in any way, you will need to change your password immediately, and immediately notify the we;</li>
                      <li>Whether you have authorized or acknowledge it or not, you are responsible for all activities all through your user name, account number and password; and</li>
                      <li>You will not use the company's services, Web sites, equipment, software or data in any way interfere with other players;</li>
                      <li>You will not solicit or seek information about other players in any way</li>
                      <li>You will not upload or distribute anything that would damage or that may affect the device, software, services or websites virus programs, files or data;</li>
                      <li>Legal services and access to information that you enter through the website or device is not contrary to (a) apply to your legal or apply your own contractual obligations (b) apply to your use of the Site or the means of local people</li>
                      <li>You will not collude with third parties or use any device, robot, spider, software, routine or other method (or in any manner with the above properties) interfere or attempt to interfere with service, equipment, software, web sites, through this website Information or operate any transaction;</li>
                      <li>You will not transmit any information containing unlawful, harassing, abusive, threatening, libelous, defamatory, obscene, indecent, inflammatory, racial or ethnic objectionable, pornographic or profane content; or anything that could be considered a criminal offense, give rise to civil liability or violate any laws of conduct;</li>
                      <li>You are not the Company or any of its affiliates, officers, directors, employees, consultants, members, agents, or any of the above relatives or roommates;</li>
                      <li>You will not hamper service, website, software, equipment, or correct use of information; start or participate in surveys, contests, chain letters, send / forward "spam" or mass mailing;</li>
                      <li>You will only use the service for personal entertainment, and services may not be used for commercial or a way to earn a living.</li>
                      <li>You did not violate the terms and conditions.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#open-your-account" class="accordion-toggle"> 
                    <h3>6. Open your account</h3>
                  </div>
                </div>
                <div id="open-your-account" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">6.1</p>
                    <p class="text">Participation Sun Game of gaming, you must fill out the account and Membership Application (the "Membership Application") is in accordance with the guidance on the website.</p>
                    <div class="clear"></div>
                    <p class="number">6.2</p>
                    <p class="text">You warrant that all information provided during registration, including your name, the source of funds (including the relevant bank accounts and credit card numbers) and addresses are accurate, true and complete.</p>
                    <div class="clear"></div>
                    <p class="number">6.3</p>
                    <p class="text">Sun Game will take reasonable and appropriate measures to ensure that you give us personal information remains confidential. Unless any applicable law, regulation, court order or law enforcement related to betting and the terms and conditions of the requirements, otherwise we will not disclose your personal data or betting information. You also have a responsibility to your personal information confidential. The Company reserves the right to disclose your personal data and the right to be transferred to our payment settlement service providers and financial institutions to pay for the service. We may also be due to laws and regulations relating to gaming or law enforcement authorities and thus reveal your personal information.</p>
                    <div class="clear"></div>
                    <p class="number">6.4</p>
                    <p class="text">We will follow our privacy policy process your personal data. <a href="http://www.sss988.com/Home/Privacyy" target="_blank">http://www.sss988.com/Home/Privacyy</a></p>
                    <div class="clear"></div>
                    <p class="number">6.5</p>
                    <p class="text">It is your responsibility to ensure that the law does not apply to you and prevent you from using access to sites and information, download and install the software and participate in the game.</p>
                    <div class="clear"></div>
                    <p class="number">6.6</p>
                    <p class="text">We may require you to provide proof of your age and identity verification to make your membership application (eg valid picture identification and debit / credit card). If your personal information of any changes, you must notify us immediately relevant changes. When you agree to these terms and conditions, will also indicate that you allow us to enter, use, handling and storage of any authentication or inspection results.</p>
                    <div class="clear"></div>
                    <p class="number">6.7</p>
                    <p class="text">We reserve the right, without giving any reason to refuse your application for membership.</p>
                    <div class="clear"></div>
                    <p class="number">6.8</p>
                    <p class="text">You can only open one account at Sun Game. If we find that you open more than one account, we will be able to judge for themselves and retain all accounts combined into a single account, cancel your account or right of termination of this Agreement.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#bet-and-accept-bets-procedures" class="accordion-toggle"> 
                    <h3>7. Bet and accept bets procedures</h3>
                  </div>
                </div>
                <div id="bet-and-accept-bets-procedures" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">7.1 </p>
                    <p class="text">We accept bets for all use of the Site or other devices involved in the gaming, sports betting and other projects. All bets Betting Rules must be observed on other sites provided and the terms and regulations of this website.</p>
                    <div class="clear"></div>
                    <p class="number">7.2 </p>
                    <p class="text">If the system error or an error occurs in the game players, game related bets will be void. In case of system errors, Sun Game reserves the right to cancel the bet.</p>
                    <div class="clear"></div>
                    <p class="number">7.3</p>
                    <p class="text">Sun Game retain all, part, or any right of refusal on the website bet in any case.</p>
                    <div class="clear"></div>
                    <p class="number">7.4 </p>
                    <p class="text">We only accept bets via the Internet or in compliance with these Terms and Conditions means. We do not accept any other form of betting (eg: via mail, e-mail, fax, or otherwise).</p>
                    <div class="clear"></div>
                    <p class="number">7.5 </p>
                    <p class="text">Company has the right to postpone or reject any of our doubts about this website or our operating system has destroyed the ability of betting.</p>
                    <div class="clear"></div>
                    <p class="number">7.6 </p>
                    <p class="text">Use or attempt to use any bets mentioned above will be canceled and the corresponding account will be closed.</p>
                    <div class="clear"></div>
                    <p class="number">7.7</p>
                    <p class="text">Betting can take effect in accordance with the rules and provisions, only the correct user name and password and account balances when there is enough.</p>
                    <div class="clear"></div>
                    <p class="number">7.8 </p>
                    <p class="text">You need to use your account, responsible for activities and transactions (regardless of activity or transaction is granted to you):</p>
                    <div class="clear"></div>
                    <ul class="list">
                      <li>Your name; or</li>
                      <li>Your account number; or,</li>
                      <li>Your user name and password.</li>
                    </ul>
                    <div class="clear"></div>
                    <p class="number">7.9 </p>
                    <p class="text">You are responsible for ensuring that you bet the details are correct. Once a bet, you will not cancel, revoke or change your bets.</p>
                    <div class="clear"></div>
                    <p class="number">7.10</p>
                    <p class="text">record all bets will be recorded in our database transactions. Our transaction data is conclusive evidence that all betting transactions.</p>
                    <div class="clear"></div>
                    <p class="number">7.11</p>
                    <p class="text">When the transaction ID is displayed on your screen and your transaction has been updated to indicate acceptance of Sun Game and depending on your bets as valid bets.</p>
                    <div class="clear"></div>
                    <p class="number">7.12</p>
                    <p class="text">Based on our judgment we reserve the right to accept any part of the final or bet. For the avoidance of doubt, this clause, clause 7.12 is not prohibited as we offer "start" or "half time" bets.</p>
                    <div class="clear"></div>
                    <p class="number">7.13</p>
                    <p class="text">on notice displayed on the website starting bet time, for reference purposes only. If for some reason, our game, still accepted after the event, project or start of the race bets, we reserve the right to cancel.</p>
                    <div class="clear"></div>
                    <p class="number">7.14</p>
                    <p class="text">unless within the rules of the sport or event otherwise stated, results of the competition or race will be decided at the end of the day. Sun Game will not recognize any possible overthrow related games, events, projects or follow-up results of the competition questions; still retain the original settlement.</p>
                    <div class="clear"></div>
                    <p class="number">7.15</p>
                    <p class="text">If the sports venues have changed, all bets will be based on the original venue will be void.</p>
                    <div class="clear"></div>
                    <p class="number">7.16</p>
                    <p class="text">Betting Rules Winners will be decided in accordance with the company at the date of the end of the tournament.</p>
                    <div class="clear"></div>
                    <p class="number">7.17</p>
                    <p class="text">for betting when, Sun Game does not recognize suspended games, protests or overturned decisions.</p>
                    <div class="clear"></div>
                    <p class="number">7.18</p>
                    <p class="text">When you pass bets have unfinished race or invalid bets, the company will be the remaining valid Betting settlement.</p>
                    <div class="clear"></div>
                    <p class="number">7.19</p>
                    <p class="text">You acknowledge that any of all the odds and odds are subject to change without notice, effective bet has determined will not be changed.</p>
                    <div class="clear"></div>
                    <p class="number">7.20</p>
                    <p class="text">When the system fails to cause any type of odds and handicap is not correct, the bet or the wrong section will be invalid. When the error correction is completed at the appropriate time, Sun Game can judge for themselves in touch with you and allow you to correct odds and betting odds again (but this is not compulsory).</p>
                    <div class="clear"></div>
                    <p class="number">7.21</p>
                    <p class="text">We will not accept that you also place a bet in any game.</p>
                    <div class="clear"></div>
                    <p class="number">7.22</p>
                    <p class="text">In any betting transactions associated, Sun Game's decision is final and conclusive.</p>
                    <div class="clear"></div>
                    <p class="number">7.23</p>
                    <p class="text">You acknowledge that shuffling and dealing of cards, turn the ball, shaking dice game results, lottery results and other randomly generated depends on the random number generator (RNG) or live games available on the website, are part of the service, you agree accept such shuffling and dealing of cards, turn the ball, shaking dice, game conducted, and the results of other randomly generated lottery or field is final and conclusive.</p>
                    <div class="clear"></div>
                    <p class="number">7.24</p>
                    <p class="text">Sun Game will not imitate or otherwise reproduce any bets assume any liability <a href="www.sss988.com" target="_blank">www.sss988.com</a> website. We will not assume responsibility for any other similar SIGN Sun Game website.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#software-licence" class="accordion-toggle"> 
                    <h3>8. Software licence</h3>
                  </div>
                </div>
                <div id="software-licence" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">8.1</p>
                    <p class="text">You acknowledge and agree that the software (via download or otherwise) is to allow you to use the online service through means is part of the service, it is the Sun Game and our donor's property, and you do not get the rights of any such software. You may not in any way adapt, copy, modify, copy, store, distribute, display, publicly perform, broadcast, include in a cable program, publish, transmit, sell, rent, lease software available to any other person, or other sites, online services or bulletin boards, or any other media or devices.</p>
                    <div class="clear"></div>
                    <p class="number">8.2</p>
                    <p class="text">Sun Game hereby grants you a personal, non-exclusive, non-transferable, revocable license, you can install and use the software on your device; and "license" can be used only for the primary user of your device.</p>
                    <div class="clear"></div>
                    <p class="number">8.3 </p>
                    <p class="text">Sun Game software is for users to fully use the software and participate in gaming licensing and distribution.</p>
                    <div class="clear"></div>
                    <p class="number">8.4</p>
                    <p class="text">license is just to enable you to use the service. You may not:</p>
                    <ul class="list">
                      <li>Software installation or upload to a server or other network devices to electronic bulletin boards, online services, remote dial-up or provide the software in any way; or connect to the Internet system to others</li>
                      <li>Distribution, rental, lease, transfer, copy, transfer, or otherwise provide the software or license to others</li>
                      <li>Allow others to use the software;</li>
                      <li>By creating or provide any means (including, but not limited to, via emulators) enables software can be used by others.</li>
                      <li>Translate, reverse engineer, decompile, disassemble, modify, discover, create derivative works based on a part of the overall software or software, or the software source code, in addition to the law to allow foreign</li>
                      <li>Copy, modify, translate or create any derivative works based on the whole or any part of the Software user documentation</li>
                    </ul>
                    <div class="clear"></div>
                    <p class="number">8.5</p>
                    <p class="text">You acknowledge and agree, on the website or through devices or other means, and software user documentation for the Sun Game or our franchisor all and is protected by copyrights, trademarks and other intellectual property and proprietary rights protected form . You hereby confirm that the pattern of software, organization and source code is our business and our licensors valuable trade secrets. You acknowledge that, except in accordance with the license rights granted to you, you do not get the rights or interests of any software or user documentation.</p>
                    <div class="clear"></div>
                    <p class="number">8.6</p>
                    <p class="text">in accordance with these terms and conditions, when for whatever reason terminate this agreement, giving your license is automatically void; and you must immediately stop using it and uninstall the software on the device.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#transaction-settlement" class="accordion-toggle"> 
                    <h3>9. Transaction settlement</h3>
                  </div>
                </div>
                <div id="transaction-settlement" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">9.1</p>
                    <p class="text">between the cardholder's name and the name of the Member provided under difference circumstances, we reserve the right to reject the transaction.</p>
                    <div class="clear"></div>
                    <p class="number">9.2</p>
                    <p class="text">You are responsible for payment of any and all obligations between you and the Company or the Company's related.</p>
                    <div class="clear"></div>
                    <p class="number">9.3</p>
                    <p class="text">If we suspect that you are engaged in any fraudulent activity or misuse of rewards, we have the right to terminate your participation in service or reject your withdrawal request.</p>
                    <div class="clear"></div>
                    <p class="number">9.4</p>
                    <p class="text">Your profit does not include your principal.</p>
                    <div class="clear"></div>
                    <p class="number">9.5</p>
                    <p class="text">Sun Game will not assume responsibility for any errors that occur due to the payment process. Sun Game any rights due to the payment process errors related to betting or transaction canceled reservations. If you find balance in your account does not match, you must immediately notify Sun Game.</p>
                    <div class="clear"></div>
                    <p class="number">9.6</p>
                    <p class="text">You are responsible for any taxes according to the law to pay for your legal bonuses, fees or charges.</p>
                    <div class="clear"></div>
                    <p class="number">9.7</p>
                    <p class="text">Unless otherwise specified, the deposit can be required to meet double the effective water withdrawals.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#charged-lawful-prize" class="accordion-toggle"> 
                    <h3>10. Charged lawful prize</h3>
                  </div>
                </div>
                <div id="charged-lawful-prize" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">10.1</p>
                    <p class="text">legitimate bonus will be credited to your account. When you want to withdraw money from your account, you may be required to produce a number of documents. This is usually a copy (such as a passport, identity card) and proof of address to confirm your files (such as a utility bill) personal identity documents. When necessary, we may need a copy of your other files, in order to combat fraud or money laundering.</p>
                    <div class="clear"></div>
                    <p class="number">10.2</p>
                    <p class="text">As from your account within thirty (30) day period, a one-time or accumulative over three thousand euros (€ 3,000) or the same value in other currencies or other amounts, you may need to present a valid identity document.</p>
                    <div class="clear"></div>
                    <p class="number">10.3</p>
                    <p class="text">your card issuer allows, your bonus will be credited to your legitimate credit card, debit card or electronic purse, which is depends on your account with a deposit of the original way. Receiving lawful prize must be deposited funds and bettors with the same person.</p>
                    <div class="clear"></div>
                    <p class="number">10.4</p>
                    <p class="text">Subject to these Terms and Conditions, you can withdraw money from your account, including your lawful prize. We reserve the right to reasonably account deposits and withdrawals service fees charged to you.</p>
                    <div class="clear"></div>
                    <p class="number">10.5</p>
                    <p class="text">You must pay all costs of banks and other third parties, since the transaction is in your account, we reserve the right to charge these fees from your account legitimate prize.</p>
                    <div class="clear"></div>
                    <p class="number">10.6</p>
                    <p class="text">Any person or group suspected of collusion and fraud, or to make, we have the right to cancel all or part of the bets. In this case, we absolutely have the right in our decision-making will be confiscated subject account money.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#promotions-and-bonuses" class="accordion-toggle"> 
                    <h3>11. promotions and bonuses</h3>
                  </div>
                </div>
                <div id="promotions-and-bonuses" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">11.1</p>
                    <p class="text">All promotions, bonuses or special offers are subject to these terms and conditions control, In addition to the specific terms and conditions of preferential control, we may from time to time together with its introduction. Sun Game reserves the pause, cancel or modify a rule bonuses or promotions.</p>
                    <div class="clear"></div>
                    <p class="number">11.2</p>
                    <p class="text">As we suspect that you or any other player abuse or attempted abuse of bonuses or other promotional activities (or derive benefit) In any case, we may block, deny, suspend, discontinue or cancel any of these player accounts.</p>
                    <div class="clear"></div>
                    <p class="number">11.3</p>
                    <p class="text">If found any collusion with collusion and fraud suspects tried to individuals or teams, we will retain the right to cancel some or all of their bets. Individual, family, organization, betting the dealer and its employees involved in the account will be immediately closed down the amount confiscated.</p>
                    <div class="clear"></div>
                    <p class="number">11.4</p>
                    <p class="text">As a service of entertainment sites, Sun Game published services and promotions only apply to real players, and for non-real players our services and promotions will be adjusted as appropriate. Real player means the player involved in the game really risky bets in a game result for profit purposes.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#compensation" class="accordion-toggle"> 
                    <h3>12. compensation</h3>
                  </div>
                </div>
                <div id="compensation" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">12.1</p>
                    <p class="text">You agree to fully indemnify Sun Game, shareholders, employees, directors, licensees, distributors, agents, subsidiaries, agents due to downloading or installing the software, the use of the software or information and breach of the terms of the regulations or rules resulting Gaming any loss, damage, claims (including reasonable attorney's fees).</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#disclaimer" class="accordion-toggle"> 
                    <h3>13. Disclaimer nature and services</h3>
                  </div>
                </div>
                <div id="disclaimer" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">13.1</p>
                    <p class="text">Gambling is your own choices and judgments. You should know, and bear all the risks using this service brings. When you use these services, you confirm that you have not the service, site or any information judged to be offensive, objectionable, unfair or indecent. Some jurisdictions have not resolved the legality of online gambling, while others specifically to make online gambling is illegal. We do not intend to make any online gambling is illegal in the jurisdiction of the judicial use of the Services or go to the website. In any jurisdiction described above, the availability of our service, website and information provided should not be construed as, solicitation or invitation. Comply with any applicable law entirely your own responsibility; we will not for service, software, websites and legality of the information to make any representations or warranties.</p>
                    <div class="clear"></div>
                    <p class="number">13.2</p>
                    <p class="text">We will try to provide service, software, websites and information. Sun Game will not for services, websites, software and information to make any representations or warranties. To the fullest extent permitted by law, hereby excluded related services, software, Web sites and information, whether express or implied, statutory or otherwise, any representations or warranties.</p>
                    <div class="clear"></div>
                    <p class="number">13.3</p>
                    <p class="text">Web sites and information provided in accordance with the current situation. We do not guarantee service software, websites or information is accurate, complete and appropriate, timely, secure, without interruption, defect, error-free or free from any outside interference in nature. Any unknown defects will be corrected.</p>
                    <div class="clear"></div>
                    <p class="number">13.4</p>
                    <p class="text">We do not guarantee the services we provide, software, websites, information or server is no computer viruses, spyware, adware or other malicious, destructive or damaging code, program, data, or any other might Influence means or functional data it contains. You will bear the cost of your own preventive measures brought about by the use of service software to ensure the process of destruction or damage from viruses or other forms of interference.</p>
                    <div class="clear"></div>
                    <p class="number">13.5</p>
                    <p class="text">If appears:</p>
                    <ul class="list">
                      <li>Systems or communications related to your account any delay, any other element of the Site or the Service, or;</li>
                      <li>Systems or communications related to your account any errors or delays in, we will not delay and error conditions and results of any liability as a result of bets or delays in the wrong situation, we decided to retain all bets will be void, and take any We believe that the appropriate action to correct such errors or delays rights.</li>
                    </ul>
                    <p class="number">13.6</p>
                    <p class="text">In any case, Sun Game will not be, liable for loss or expenses of any damages, including those related to access to any device or data interference when using or participating, websites, software and information or damage.</p>
                    <div class="clear"></div>
                    <p class="number">13.7</p>
                    <p class="text">Sun Game does not assume any and all services provided by third parties, websites, software, and information and responsibility, including but not limited to broadband service providers, telecom suppliers, banks and payment providers will not be liable for any third-party partners default, breach of contract, lazy responsibility.</p>
                    <div class="clear"></div>
                    <p class="number">13.8</p>
                    <p class="text">Sun Game associated companies, employees and agents will not be liable for any contractual obligations with the use of services, websites, software, or information relating to, tort, negligence, or arising in any way for any indirect or consequential loss or damage of liability ; including, but not limited to any damage to the business losses, loss of data, loss of profits, loss of revenue, data loss or any other indirect or consequential loss shall not be responsible for (even if we have been advised of the possibility of such loss or damage) .</p>
                    <div class="clear"></div>
                    <p class="number">13.9</p>
                    <p class="text">To the fullest extent permitted by law, in addition to these terms and conditions other than clearly defined, we hereby excluded to you, whether it is in all tort liability contract, negligence or otherwise formed.</p>
                    <div class="clear"></div>
                    <p class="number">13.10</p>
                    <p class="text">We will retain responsibility for any accident due to the Sun Game of negligence caused.</p>
                    <div class="clear"></div>
                    <p class="number">13.11</p>
                    <p class="text">We reserve the right to withdraw at any time, the site and assume no liability to you will not do this.</p>
                    <p class="number">13.12</p>
                    <p class="text">You acknowledge that the whole or part of the information may be temporary; and may amend, alter or modify the provisions of these terms and conditions. Accordingly, you acknowledge that the information provided for informational purposes only and does not constitute an offer or solicitation; not to provide any representative of a binding guarantee, contractual obligations, as the goal; and this information will not constitute any binding representatives, guaranteed contractual obligations or of any nature to be your trust basis.</p>
                    <div class="clear"></div>
                    <p class="number">13.13</p>
                    <p class="text">Our overall responsibility whether under terms of the contract, tort, negligence or otherwise, and to your total, in any case shall not exceed</p>
                    <ul class="list">
                      <li>Equivalent by your six (6) months credited to your account and are used for the total amount of money bet before the claims payments related to events arising</li>
                      <li>The total amount of five thousand pounds (£ 5,000) or its equivalent in foreign currency.</li>
                      <li>With a smaller amount prevail.</li>
                    </ul>
                    <p class="number">13.14</p>
                    <p class="text">You hereby acknowledge and agree that all disclaimers and liability in these terms and conditions of exclusion, taking into account all relevant factors, including but not limited to, the value you provide to us price, fair representation agreement between you and us and a reasonable distribution of risks and benefits. You also agree that these disclaimers and limitations to the maximum extent permitted by applicable law, is mandatory.</p>
                    <div class="clear"></div>
                    <p class="number">13.15</p>
                    <p class="text">Except as set out in the terms and conditions of the conditions, the results if we make any gamble you have any dispute, you must issue a written complaint within seven (7) and complete submission includes details of the days of the results to us. If the result of the case where there are differences between the transaction appears on your device and our system, you agree that by our Chief Technology Officer proof of our system transactions are recorded as conclusive evidence.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#termination" class="accordion-toggle"> 
                    <h3>14. Termination, closure and suspension of service</h3>
                  </div>
                </div>
                <div id="termination" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">14.1</p>
                    <p class="text">As Sun Game has reasonable grounds to believe that you violated the following conditions, in addition to the rights in accordance with these terms and conditions, in our judgment, we reserve the right to cancel any bonuses, termination of the agreement, to suspend service closures and freeze your account at any time:</p>
                    <ul class="list">
                      <li>You have more than one active account in the Sun Game.</li>
                      <li>Your participation in promotional offers that we offer, but failed to fulfill the requirements related to the promotion of exit; and</li>
                      <li>Your registration information provided is incorrect or misleading;</li>
                      <li>No information we require;</li>
                      <li>You are not over 18 years old or did not meet your involvement in the jurisdiction where the legal age for gambling;</li>
                      <li>Prohibited in your jurisdiction you gamble, and you participate in these services, or so we think (reasonable), this participation is prohibited by law;</li>
                      <li>You tried to from criminal or other illegal or unauthorized activities funds deposited or credited to your account;</li>
                      <li>You tried to cheat or to have cheated anyone or any party; or Sun Game judgment you hire or seek to use artificial intelligence or other system (including machines, computers, algorithms, software or other automated systems) beat the system we operate, or your attempt with Other players colluding or collude to defraud us (or other players).</li>
                      <li>You (intentionally or unintentionally) allow third parties to use your account;</li>
                      <li>You do not comply with any provision of these Terms and Conditions;</li>
                      <li>We do not accept the following countries or regions of the players into the site Game: Hong Kong, Macau, Taiwan, Singapore, the Philippines, the United States and Romania. Players will not be accepted in the following countries or regions into the sports games: Belgium, Cayman Islands, North Korea, Denmark, France, Germany, Hong Kong, Iran, Iraq, Israel, Italy, the Philippines, Poland, Saudi Arabia, Singapore, Switzerland, Taiwan , the Netherlands, Turkey, United States and its associated territories.</li>
                    </ul>
                    <p class="number">14.2</p>
                    <p class="text">If the suspension of service or your account is disabled, and you take corrective action (such as can be corrected), and validation is successful, your account can be reactivated and we resume service.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#external-link" class="accordion-toggle"> 
                    <h3>15. links to external sites</h3>
                  </div>
                </div>
                <div id="external-link" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">15.1</p>
                    <p class="text">Site may contain not Sun Game maintenance range of third-party Web site links. Such links to third party websites are only provided for your convenience, Sun Game is not responsible for, and does not undertake to ensure that the content of these third-party sites is accurate, present or maintained.</p>
                    <div class="clear"></div>
                    <p class="number">15.2</p>
                    <p class="text">Sun Game does not assume, is not responsible, does not approve, does not endorse external sites do not review the privacy practices of relevant content and any advertising, sell or in any way provide a product or service does not make any representations or warranties.</p>
                    <div class="clear"></div>
                    <p class="number">15.3</p>
                    <p class="text">Sun Game will not be any loss or damage arising in any manner you with links to third-party websites produced, such as contract, tort, negligence or otherwise take responsibility.</p>
                    <div class="clear"></div>
                    <p class="number">15.4</p>
                    <p class="text">Unless expressly stated, Sun Game in any case not to be treated as external links of any statement, opinion, trademarks, service marks, logos, insignia or other devices or external websites display ads on external sites sell or with the operators or owners of any linked external sites.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#links" class="accordion-toggle"> 
                    <h3>16. Links</h3>
                  </div>
                </div>
                <div id="links" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">16.1</p>
                    <p class="text">You may not connect or create any link, deep link or inline link to our website, services or information interception of part of the site.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#add-remove-games" class="accordion-toggle"> 
                    <h3>17. to add or remove games</h3>
                  </div>
                </div>
                <div id="add-remove-games" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">17.1</p>
                    <p class="text">We reserve the right at any time to add new games or functions to the right site; or create, delete, stop, restrict access or change any game or function right, and without prior notice.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#limits" class="accordion-toggle"> 
                    <h3>18. account limits, payment limits and maximum bets</h3>
                  </div>
                </div>
                <div id="limits" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">18.1 </p>
                    <p class="text">effective betting in each note, we pay the maximum amount of players for one million yuan (CNY 1,000,000), or an equivalent amount of bets.</p>
                    <div class="clear"></div>
                    <p class="number">18.2 </p>
                    <p class="text">The maximum amount you can bet is based on different types of games or betting on the category, we have provided about the type of gambling rules and provisions of this site is subject to change without notice, but in any case, your stake will not exceed the account funds.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#self-limiting" class="accordion-toggle"> 
                    <h3>19. self-limiting</h3>
                  </div>
                </div>
                <div id="self-limiting" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">19.1 </p>
                    <p class="text">We will provide a feature that can prevent you from entering the account and bet, you can choose from the six (6) months to five (5) years of self-restriction period. If you claim self-limiting, and your account will not be re-opened within a set period of time. During this limitation, we will do everything we can to prevent you from registering new account. If you want to use this function, or to get further information, please contact us.</p>
                    <div class="clear"></div>
                    <p class="number">19.2 </p>
                    <p class="text">Players can at any time require the permanent closure of the account, the account closed by the player's registration application must be mailbox.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#abandoned-accounts" class="accordion-toggle"> 
                    <h3>20. Abandoned accounts</h3>
                  </div>
                </div>
                <div id="abandoned-accounts" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">20.1</p>
                    <p class="text">If your account balance remaining, we must inform you did not have the responsibility. If you have a continuous three hundred sixty-five (365) days without logging into your account and use of this website service, your account will be considered inactive.</p>
                    <div class="clear"></div>
                    <p class="number">20.2</p>
                    <p class="text">During your account is inactive, and we reserve the right to charge an administrative fee on a regular basis to you and deducted from your account balance. Administrative fees is five pounds (£ 5.00) per month, or the equivalent in foreign currency. If we test to inactive accounts, we may try to pass the information provided when registering you by phone, e-mail or written communication with you. If the link fails, we can look for and contact relevant customers in other ways. If found inactive accounts from that day on, continuous twelve (12) month period, still less about customer contact, we reserve the right to close the account; and to our discretion in the accounts by the management of funds custody or who are assigned to the selected charitable gambling institution managers.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#priority" class="accordion-toggle"> 
                    <h3>21. priority</h3>
                  </div>
                </div>
                <div id="priority" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">21.1</p>
                    <p class="text">Betting Rules, any other access control services, software, information and website terms and regulations will promote cost an integral part of the terms and regulations.</p>
                    <div class="clear"></div>
                    <p class="number">21.2</p>
                    <p class="text">If the betting rules and services, the terms and conditions of software, and the site is ambiguous, unless explicitly stated in the terms and conditions please prevail.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#force-majeure" class="accordion-toggle"> 
                    <h3>22. Force Majeure</h3>
                  </div>
                </div>
                <div id="force-majeure" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">22.1</p>
                    <p class="text">If the Sun Game because of events beyond our control occur, but can not or postpone any obligation under these terms and conditions (including, but not limited to: changes in natural disasters, law or regulations, government action or non-action, authority, court orders in civil or military authority, acts of terrorism, lightning or fire, strike, lockout or other labor dispute, flood, drought, war, riot, theft, transmission or system failures, telecommunications or broadband services, failure or disruption offer, failure or lack of power supply equipment, inclement weather, earthquake and natural disasters), such as negligence or delay does not constitute a breach of these terms and conditions.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#non-exempt" class="accordion-toggle"> 
                    <h3>23. Non-exempt</h3>
                  </div>
                </div>
                <div id="non-exempt" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">23.1</p>
                    <p class="text">In the case of our failure to enforce these Terms and regulations will not mean that we exempted from this provision affect the validity of this provision or prevent us from taking further action.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#severability" class="accordion-toggle"> 
                    <h3>24. Severability</h3>
                  </div>
                </div>
                <div id="severability" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">24.1</p>
                    <p class="text">If any part of these terms and conditions to be determined by the court having jurisdiction to be invalid, illegal or unenforceable, these provisions will be separate from the executable clause, while other provisions will continue to the maximum allowed by the law within the scope of an effective and enforceable manner.</p>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <div data-toggle="collapse" data-parent="#termsConditions" href="#jurisdiction" class="accordion-toggle"> 
                    <h3>25. Governing Law and Jurisdiction</h3>
                  </div>
                </div>
                <div id="jurisdiction" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p class="number">25.1</p>
                    <p class="text">You agree to access services, Web sites, software, information and interpretation of these terms and conditions are subject to legal regulation of the Isle of Man.</p>
                    <div class="clear"></div>
                    <p class="number">25.2</p>
                    <p class="text">Parties shall submit to the jurisdiction of the court directly under the Isle of Man. However, this clause 25.1 shall not prevent: (a) You make our complaint to the Isle of Man Gambling Supervision Commission; (b) We seek an injunction or any similar action in any court of competent jurisdiction.</p>
                    <ul class="list">
                      <li>
                         
                        Casino games, live dealer and poker manager: Cagayan Economic Zone Authority, First Cagayan Leisure and Resort Corporation<br>Contact Information: <a href="mailto:info@firstcagayan.com">info@firstcagayan.com</a>
                      </li>
                      <li>
                         
                        Sports betting manager: Isle of Man Gambling Supervision Commission.<br>Contact Information: <a href="mailto:gaming@gov.im">gaming@gov.im</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
    </div>
</section>
