@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>REGO V2</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- basic styles -->
    <link rel="stylesheet" href="/content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/themes/redmond/jquery-ui-custom.css" />
    <link rel="stylesheet" href="/content/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/content/css/jquery.multiselect2side.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/jquery.jqGrid/ui.jqgrid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/jquery.jqGrid/ui.multiselect.css" />
    <link rel="stylesheet" href="/content/css/durandal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Scripts/ui.dropdownchecklist.standalone.css" />
    <!-- text fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    
    <link href="/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/Content/toastr.css" rel="stylesheet" />

    <!-- rego styles -->
    <link rel="stylesheet" href="/content/css/regocms.css" />
    <link rel="stylesheet" href="/content/css/fixes.css" />

    <!--[if lte IE 9]>
           <link rel="stylesheet" href="/content/css/ace-ie.min.css" />
         <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/scripts/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/scripts/html5shiv.js"></script>
    <script src="/scripts/respond.min.js"></script>
    <![endif]-->

</head>
<body class="no-skin" id="applicationHost">

    <script src="/scripts/jquery-2.0.3.js"></script>
    <script src="/scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/knockout-3.1.0.debug.js"></script>
    <script src="/scripts/knockout.mapping-latest.debug.js"></script>
    <script src="/scripts/knockout.validation.js"></script>
    <script src="/Scripts/utils.js"></script>
    <script src="/Scripts/i18n/grid.locale-en.js"></script>
    <script src="/Scripts/ui.multiselect.js"></script>
    <script src="/Scripts/jquery.multiselect2side.js"></script>
    <script src="/Scripts/jquery.jqGrid.js"></script>
    <script src="/Scripts/json2.min.js"></script>
    <script src="/Scripts/jstorage.min.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/lodash.js"></script>
    <script src="/Scripts/ui.dropdownchecklist-1.4-min.js"></script>
    <script src="/scripts/extensions.min.js"></script>
    <script src="/scripts/require.js" type="text/javascript" data-main="/App/main"></script>
    <script type="text/javascript">var token = "@ViewBag.Token";
        var refreshToken = "@ViewBag.RefreshToken";
        var adminApiUrl = "@ViewBag.AdminApiUrl";</script>
</body>
</html>
