<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Database=RegoV2;Persist Security Info=True;integrated security=false;User Id=sa; Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BonusWinServiceName" value="AFT.RegoV2.Bonus.WinService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog>
    <targets>
      <target
          name="console"
          type="ColoredConsole"
          layout="${message} ${exception:format=tostring}"
          useDefaultRowHighlightingRules="true"
      ></target>
      <target
        name="file"
        type="File"
        layout="${level} ${date} ${message} ${exception:format=tostring}"
        fileName="c:\RegoV2Data\Logs\Bonus\WinService\log.txt"
        replaceFileContentsOnEachWrite="false"
        enableArchiveFileCompression="false"
        archiveNumbering="Sequence"
        archiveAboveSize="5242880"
        maxArchiveFiles="10"
      ></target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>