<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>  
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Database=RegoV2;Persist Security Info=True;integrated security=false;User Id=sa; Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    <add key="WinServiceName" value="AFT.RegoV2.WinService" />

    <add key="MailDrop" value="C:\RegoNotifications\Email" />
    <add key="SmsDrop" value="C:\RegoNotifications\Sms" />

    <add key="Smtp.Host" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="Smtp.Port" value="587" />
    <add key="Smtp.UserName" value="AKIAJSZFIHES2EKN4UAQ" />
    <add key="Smtp.Password" value="Am2+tOBUBdSxHvlqhShrr8pP8gd4BCcNy6TPcPot6e3o" />
    <add key="Smtp.FromEmail" value="no-reply@mail.flycowdev.com"/>
    <add key="EnableEmails" value="false" />
    
    <add key="Twilio.AccountSid" value="ACcc191fa7208b14e8c997bab4e258a4b2" />
    <add key="Twilio.AuthToken" value="01f18dbbbf6aa55c4354fb5abae87590" />
    <add key="EnableSms" value="false" />

    <add key="InstanceName" value="debug" />

    <!--Settings with prefix "dbsettings:" will be seeded to DB via Core.Settings by ApplicationSeeder-->
    <add key="dbsettings:OperatorApiUrl" value="http://localhost:6111/" />
    <add key="dbsettings:GameApiUrl" value="http://localhost:6111/" />
    
    <add key="dbsettings:BonusClientId" value="AFTRego" />
    <add key="dbsettings:BonusClientSecret" value="B8ED5542-5C32-496B-87C8-B3090C9C82D0" />
    <add key="dbsettings:BonusApiUrl" value="http://localhost:32483/" />
    
    <add key="dbsettings:AdminApiUrl" value="http://localhost:63684/" />
    <add key="dbsettings:MemberApiUrl" value="http://localhost:10483/" />
    <add key="dbsettings:MemberWebsiteUrl" value="http://localhost:51829/" />
    <add key="dbsettings:AdminWebsiteUrl" value="http://localhost:2823/" />
    <add key="dbsettings:GameWebsiteUrl" value="http://localhost:50215/" />
    <add key="dbsettings:PaymentProxyUrl" value="http://localhost:50380/" />
    <add key="dbsettings:PaymentNotifyUrl" value="http://localhost:51829/" />

    <add key="dbsettings:wsb.httpport" value="10355" />
    <add key="dbsettings:wsb.tcpport" value="10354" />
    <add key="dbsettings:wsb.namespace" value="regodebug" />
    <add key="dbsettings:wsb.host" value="servicebus" />
    <add key="dbsettings:wsb.username" value="" />
    <add key="dbsettings:wsb.password" value="" />
    <add key="dbsettings:wsb.userdomain" value="" />
    <add key="dbsettings:ugsbus.connectionString" 
         value="Endpoint=sb://servicebus/regodebug;StsEndpoint=https://servicebus:10355/regodebug;RuntimePort=10354;ManagementPort=10355" />

    <add key="dbsettings:FlycowApiClient.ClientId" value="FlyCow-UGS" />
    <add key="dbsettings:FlycowApiClient.ClientSecret" value="ABgfatAyhGkIpNKMk3Wr705iWFvYObtDbBfvWz2YWgkXC9UZUMdCvD" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog>
    <targets>
      <target
          name="console"
          type="ColoredConsole"
          layout="${message} ${exception:format=tostring}"
          useDefaultRowHighlightingRules="true"
      ></target>
      <target 
        name="file" 
        type="File" 
        layout="${level} ${date} ${message} ${exception:format=tostring}"
        fileName="c:\RegoV2Data\Logs\WinService\log.txt"
        replaceFileContentsOnEachWrite="false"
        enableArchiveFileCompression="false"
        archiveNumbering="Sequence"
        archiveAboveSize="5242880"
        maxArchiveFiles="10"
      ></target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
