<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default"
      connectionString="Server=regov2db.flycowdev.com; Database=RegoV2-qa; Persist Security Info=True; integrated security=false; user id=sa; password=ch6kaCru"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ScreenshotsPath" value="C:\Projects\screenshots\qa" />
    <add key="MailDrop" value="C:\RegoNotifications\Email" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmsDrop" value="C:\RegoNotifications\Sms" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Smtp.Host" value="smtp.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Smtp.Port" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Smtp.UserName" value="devtest@flycowgames.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Smtp.Password" value="!flycowgames99" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Smtp.From" value="138@flycowgames.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MaxFailedLoginAttempts" value="5" />
    <add key="EnableSms" value="false" />
    <add key="EnableEmail" value="false" />
    <add key="IpRegulationsDisabled" value="true" />
    <add key="PaymentGateways" value="IPSPAY,XPAY,YEEPAY,ELLENPAY,NGANLUONGPAY,RUNPAY,HUICHAOPAY,BEIPAY,CAIFUPAY,AL365PAY,SHENGPAY,SDPAY,BILLPAY,BOFOPAY,MOBAOPAY,HUIFUPAY,DINPAY" />
    <add key="InstanceName" value="qa" />
    <add key="ScreenshotsPath" value="C:\Projects\screenshots\qa" />
  </appSettings>
</configuration>