<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://feed.flycowdev.com/api/v2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/vMpdTEL3kyNWjXhZRFTggAAAAACAAAAAAAQZgAAAAEAACAAAABWalqiCpOTMJYLrdzhQqCmxlc/wxWQrElL+ZUB9waXbgAAAAAOgAAAAAIAACAAAABf45lgC+kCsqJUYDdGU4GxXoQ2lNe6lyxhLAo0ykElUjAAAABWcquTalXFDsZSY4GYXf3EhAy5NQm11mQ4nyqq8f9XwvUCMxb8cZL5mqKmF6DwssVAAAAAgFdoA0Mn53LkDbaAjSstfg4e/NbYUweYZU5rx538rph5W8ruzMyAxWwmkYelGqjd6guyi3i9TGSPnOurMPrzuA==" />
  </apikeys>
  <packageSourceCredentials>
    <flycow>
      <add key="Username" value="devaft\regonuget" />
      <add key="ClearTextPassword" value="ch6kaCru" />
    </flycow>
    <flycow_feed>
      <add key="Username" value="devaft\regonuget" />
      <add key="ClearTextPassword" value="ch6kaCru" />
    </flycow_feed>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="flycow" value="https://feed.flycowdev.com/api/v2" />
    <add key="flycow_feed" value="https://feed.flycowdev.com:443/" />
  </packageSources>
</configuration>