<h2 data-i18n="profile.quickLink">quick links</h2>
<div class="quicklinks clearfix">
  <a href="#" class="grey-link pull-left live-dealer">play live dealer</a>
  <a href="#" class="grey-link pull-left casino">play casino</a>
  <a href="#" class="grey-link pull-left make-deposit">play make a deposit</a>
</div>