@{
    ViewBag.Title = "My account - Rego";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string section = "transactionHistory";
}

<section class="main-content section account">

    <div class="container">

        <h2 class="title-page"><span>Cashier</span></h2>

        <div class="row row-eq-height">

            @Html.Partial("_PartialCashierMenu", section)

            <div class="col-sm-9 white-content transactionhistory" id="profile-wrapper">

                <h2 data-i18n="balanceInformation.transactionHistory"></h2>
                
                <form class="clearfix infos-account row">
                    <div class="col-sm-3 form-group" data-bind="css: {'has-error': !transactionhistory.startdate.isValid()}">
                        <p><b data-i18n="common.startDate">Start Date</b></p>
                        <input type="text" class="form-control datepicker" data-bind="value: transactionhistory.startdate"/>
                    </div>
                    <div class="col-sm-3 form-group" data-bind="css: {'has-error': !transactionhistory.enddate.isValid()}">
                        <p><b data-i18n="common.endDate">End Date</b></p>
                        <input type="text" class="form-control datepicker" data-bind="value: transactionhistory.enddate"/>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>&nbsp;</label><br>
                        <button class="btn grey col-md-12" data-bind="click: transactionhistory.submitFilter" data-i18n="common.filter">filter</button>
                    </div>
                </form>

                <table class="table list sortable">
                    <thead>
                        <tr>
                            <th data-defaultsort="asc">Type</th>
                            <th data-defaultsort="disabled">References</th>
                            <th>Date</th>
                            <th data-defaultsort="disabled">Amount</th>
                            <th data-defaultsort="disabled">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Withdrawal</td>
                            <td>OW212413523</td>
                            <td data-format="YYYY/M/D H:i" data-value="2015/12/02 13:32">Dec 2 2015 13:32</td>
                            <td class="text-right">$5,000</td>
                            <td>Rejected</td>
                        </tr>
                        <tr>
                            <td>Offline Deposit</td>
                            <td>OD98986897</td>
                            <td data-format="YYYY/M/D H:i" data-value="2014/11/25 13:32">Nov 25 2014 13:32</td>
                            <td class="text-right">$52,000</td>
                            <td>Rejected</td>
                        </tr>
                        <tr>
                            <td>Online Deposit</td>
                            <td>D212418553</td>
                            <td data-format="YYYY/M/D H:i" data-value="2014/03/09 13:32">Mar 9 2014 13:32</td>
                            <td class="text-right">$322,000</td>
                            <td>Rejected</td>
                        </tr>
                        <tr>
                            <td>Withdrawal</td>
                            <td>OW212413523</td>
                            <td data-format="YYYY/M/D H:i" data-value="2015/12/05 13:32">Dec 5 2015 13:32</td>
                            <td class="text-right">$5,000</td>
                            <td>Rejected</td>
                        </tr>
                        <tr>
                            <td>Offline Deposit</td>
                            <td>OD98986897</td>
                            <td data-format="YYYY/M/D H:i" data-value="2014/11/22 13:32">Nov 22 2014 13:32</td>
                            <td class="text-right">$52,000</td>
                            <td>Rejected</td>
                        </tr>
                        <tr>
                            <td>Online Deposit</td>
                            <td>D212418553</td>
                            <td data-format="YYYY/M/D H:i" data-value="2014/03/01 13:32">Mar 1 2014 13:32</td>
                            <td class="text-right">$322,000</td>
                            <td>Rejected</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</section>

@section stylesheets {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
}

@section scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Html.Partial("_PartialCashierScript", section)
}