.navbar-licensee-brand-selector-wrap {
  float: left;
  margin-left: 100px; }

#navbar-licensee-brand-indicator {
  color: #383838;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #4c8fbd;
  padding: 12px 20px;
  cursor: pointer; }

#navbar-licensee-brand-selector {
  position: absolute;
  z-index: 10;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  top: 47px;
  width: 75%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease; }
  #navbar-licensee-brand-selector.active {
    height: 245px; }
  #navbar-licensee-brand-selector, #navbar-licensee-brand-selector * {
    box-sizing: border-box; }
  #navbar-licensee-brand-selector button, #navbar-licensee-brand-selector input[type=checkbox] {
    outline: none; }
  #navbar-licensee-brand-selector input, #navbar-licensee-brand-selector label {
    margin: 0; }
  #navbar-licensee-brand-selector label {
    font-size: 13px; }
  #navbar-licensee-brand-selector .wrapper-licensee-selector {
    height: 164px;
    overflow: hidden; }
  #navbar-licensee-brand-selector ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #navbar-licensee-brand-selector ul li {
      padding: 0;
      margin: 0; }
    #navbar-licensee-brand-selector ul.licensee-selector {
      transition: all 0.3s ease; }
      #navbar-licensee-brand-selector ul.licensee-selector > li {
        background: #f8f8f8;
        border-bottom: 1px solid #e5e5e5; }
        #navbar-licensee-brand-selector ul.licensee-selector > li:not(.active) {
          border-right: 1px solid #e5e5e5; }
        #navbar-licensee-brand-selector ul.licensee-selector > li:hover {
          background: #ffffff; }
        #navbar-licensee-brand-selector ul.licensee-selector > li.active {
          background: #ffffff; }
        #navbar-licensee-brand-selector ul.licensee-selector > li.fill {
          background: #ffffff;
          height: 123px; }
        #navbar-licensee-brand-selector ul.licensee-selector > li > div {
          display: inline-block;
          width: 200px;
          height: 40px;
          line-height: 40px; }
          #navbar-licensee-brand-selector ul.licensee-selector > li > div:first-child {
            border-right: 1px solid #e5e5e5;
            width: 70px;
            text-align: center; }
          #navbar-licensee-brand-selector ul.licensee-selector > li > div:last-child {
            cursor: pointer; }
            #navbar-licensee-brand-selector ul.licensee-selector > li > div:last-child label {
              padding: 0 10px;
              cursor: pointer; }
    #navbar-licensee-brand-selector ul.brand-selector {
      padding: 20px 0;
      height: 180px;
      overflow-y: auto; }
      #navbar-licensee-brand-selector ul.brand-selector > li {
        float: left;
        width: 17%;
        height: 3.2em;
        margin-right: 2em;
        overflow: hidden; }
        #navbar-licensee-brand-selector ul.brand-selector > li > * {
          vertical-align: middle; }
        #navbar-licensee-brand-selector ul.brand-selector > li input {
          margin-right: .5em; }
  #navbar-licensee-brand-selector > .wrapper {
    width: 100%;
    display: table; }
    #navbar-licensee-brand-selector > .wrapper > div {
      display: table-cell; }
      #navbar-licensee-brand-selector > .wrapper > div:first-child {
        width: 280px;
        padding-bottom: 26px; }
        #navbar-licensee-brand-selector > .wrapper > div:first-child h5 {
          padding: 19px 20px;
          border-right: 1px solid #e5e5e5; }
        #navbar-licensee-brand-selector > .wrapper > div:first-child > nav {
          position: absolute;
          width: 280px;
          bottom: 0;
          left: 0;
          border-top: 1px solid #e5e5e5; }
          #navbar-licensee-brand-selector > .wrapper > div:first-child > nav button {
            border: none;
            border-right: 1px solid #e5e5e5;
            height: 26px;
            float: left;
            width: 140px;
            display: block;
            margin: 0;
            padding: 0;
            background: #f8f8f8; }
            #navbar-licensee-brand-selector > .wrapper > div:first-child > nav button:not(:disabled):hover {
              background: #ffffff; }
            #navbar-licensee-brand-selector > .wrapper > div:first-child > nav button:disabled {
              color: #ccc; }
      #navbar-licensee-brand-selector > .wrapper > div:last-child > div {
        padding: 0 30px;
        position: relative; }
      #navbar-licensee-brand-selector > .wrapper > div:last-child h5 {
        padding: 19px 0; }
      #navbar-licensee-brand-selector > .wrapper > div:last-child .mass-selector {
        padding-top: 10px;
        padding-right: 30px;
        position: absolute;
        top: 0;
        right: 0; }
        #navbar-licensee-brand-selector > .wrapper > div:last-child .mass-selector > * {
          vertical-align: middle; }
        #navbar-licensee-brand-selector > .wrapper > div:last-child .mass-selector label {
          color: #428bca; }
        #navbar-licensee-brand-selector > .wrapper > div:last-child .mass-selector button {
          margin-left: 1.5rem;
          border-width: 2px; }
      #navbar-licensee-brand-selector > .wrapper > div h5 {
        height: 55px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5; }

.sidebar .submenu > li {
  position: relative;
  z-index: 3; }
  .sidebar .submenu > li > .submenu-submenu {
    display: none;
    width: 220px;
    list-style: none;
    position: absolute;
    left: 219px;
    top: 0;
    margin: 0;
    z-index: 2;
    border: 1px solid #e4e4e4; }
    .sidebar .submenu > li > .submenu-submenu > li:not(:last-child) > a {
      border-bottom: 1px solid #eaeaea; }
    .sidebar .submenu > li > .submenu-submenu > li > a {
      cursor: default;
      display: block;
      background: #ffffff;
      padding: 8px 20px;
      text-decoration: none; }
      .sidebar .submenu > li > .submenu-submenu > li > a:hover {
        background: #fafafa; }
  .sidebar .submenu > li:hover > .submenu-submenu {
    display: block; }

.jqgrid-title-bar #search-button > i {
  padding: 4px 4px;
  font-size: 1.25em; }

.jqgrid-title-bar .btn-group {
  border-left: 2px solid #C5D0DC;
  padding-left: 2rem;
  margin-left: 1rem;
  display: inline; }
  .jqgrid-title-bar .btn-group button {
    float: none; }
  .jqgrid-title-bar .btn-group > * {
    margin-right: 5px; }

.ui-jqgrid .fa-refresh {
  padding: 4px 2px;
  font-size: 1.5em; }

.filter-row > * {
  vertical-align: middle; }

.filter-row > span {
  display: inline-block; }
  .filter-row > span > * {
    vertical-align: middle; }
  .filter-row > span > input {
    padding: 3px 4px 4px 4px; }
  .filter-row > span .fa-trash-o, .filter-row > span .fa-plus-circle {
    padding: 4px 1px;
    font-size: 1.25em; }

.custom-filters button[type="submit"] {
  padding: 6px 10px; }

.fa-color-blue {
  cursor: pointer;
  color: #428bca;
  transition: all 0.3s ease; }
  .fa-color-blue:hover {
    color: #2a6496; }

/*
.nav-tabs {
    > li {
        &:first-child {
            &.active, &.active ~ li {
                margin-top: 60px;
            }
        }
    }
}
.tab-report {
    .nav-tabs > li {
        margin-top: 60px;
    }
}
*/
.btn-more-wrap {
  display: inline;
  position: relative; }
  .btn-more-wrap .btn {
    border-width: 2px;
    outline: none; }

#list-more {
  position: absolute;
  left: 0;
  top: 40px;
  margin: 0;
  z-index: 3;
  list-style: none; }
  #list-more > li {
    margin: 0; }
    #list-more > li > a {
      color: #ffffff;
      display: block;
      padding: 5px 10px;
      min-width: 150px;
      background: #3071a9;
      white-space: nowrap;
      transition: all 0.3s ease;
      cursor: pointer; }
      #list-more > li > a.disabled {
        cursor: default;
        background: #92bce0; }
        #list-more > li > a.disabled:hover {
          background: #92bce0; }
      #list-more > li > a:hover {
        text-decoration: none;
        background: #3071a9; }
    #list-more > li i.fa {
      margin-right: .5em; }

.multiselect__checkbox-wrap {
  height: 16.9em;
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  overflow-y: scroll; }

.multiselect__checkbox-label {
  margin-bottom: 0; }
  .multiselect__checkbox-label > * {
    vertical-align: middle; }
  .multiselect__checkbox-label input[type="checkbox"] {
    margin: 0 2px 0 0; }

.multiselect__checkbox-list {
  list-style: none;
  margin: 0;
  padding-left: 1.25em; }
  .multiselect__checkbox-list > li {
    margin: 0;
    padding: 0; }

.input-search-wrap {
  display: inline-block; }
  .input-search-wrap > .fa-times {
    font-size: 1.5em;
    margin-left: -26px; }
  .input-search-wrap, .input-search-wrap ~ * {
    margin-right: 5px;
    vertical-align: middle; }

.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(6), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(7),
.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(6), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(7) {
  background-color: #fae03c; }

.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(8), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(9),
.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(8), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(9) {
  background-color: #84a981; }

.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(10), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(11),
.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(10), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(11) {
  background-color: #7bbdd0; }

.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(12), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) td:nth-of-type(13),
.advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(12), .advanced-transaction-view .ui-jqgrid-bdiv tr:not(.ui-state-highlight) th:nth-of-type(13) {
  background-color: #dba5a5; }

